<div class="mt-4">
    <div class="row">

        {{#each posts}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <a href="posts/{{this.slug}}">
                    <img class="card-img-top" src="{{this.thumbnail}}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a href="posts/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>
