<div class="mt-4">
    <div class="list-title">
        <h3>Thùng rác</h3>
        <a href="/posts/list">Danh sách bài đăng <i class="fas fa-arrow-right"></i></a>
    </div>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên</th>
              <th scope="col">Ngày xóa</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</a></td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                      <a href="" class="btn-restore" data-toggle="modal" data-id="{{this._id}}" data-target="#restore-post-modal">Khôi phục</a>&emsp;
                      <a href="" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-post-modal">Xóa vĩnh viễn</a>
                    </td>
                </tr>   
            {{else}}
                <tr>
                  <td colspan="4" class="text-center">
                    Thùng rác trống
                  </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- Cảnh báo xóa post -->
<div class="modal fade" id="delete-post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa bài viết vĩnh viễn?
      </div>
      <div class="modal-footer"> 
        <button type="button" id="btn-delete-post" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<form type="submit" name="delete-post-form" method="POST"></form> 
<form type="submit" name="restore-post-form" method="POST"></form>
<!-- script set action cho form -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var postId; // lấy id của post
        var deleteForm = document.forms['delete-post-form']; // Lấy form delete
        var restoreForm = document.forms['restore-post-form']; // Lấy form restore
        var btnDeletePost = document.getElementById('btn-delete-post'); // Lấy button xóa
        var btnRestorePost = $('.btn-restore'); // Lấy button restore

        // lấy data-id
        $('#delete-post-modal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            postId = button.data('id');
        });

        btnDeletePost.onclick = function() {
            deleteForm.action = '/posts/' + postId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        // Set action click cho nút khôi phục
        btnRestorePost.click(function(e) {
            postId = ($(this).data('id'));
            restoreForm.action = '/posts/' + postId + '/restore?_method=PATCH';
            restoreForm.submit();
        }) 
    })
</script>